<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mc.payment.core.service.mapper.PaymentPageMapper">

    <resultMap id="BaseResultMap" type="com.mc.payment.core.service.entity.PaymentPageEntity">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="paymetType" column="paymet_type" jdbcType="TINYINT"/>
            <result property="merchantId" column="merchant_id" jdbcType="BIGINT"/>
            <result property="trackingId" column="tracking_id" jdbcType="VARCHAR"/>
            <result property="pageTextJson" column="page_text_json" jdbcType="OTHER"/>
            <result property="channelPageUrl" column="channel_page_url" jdbcType="VARCHAR"/>
            <result property="createBy" column="create_by" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateBy" column="update_by" jdbcType="VARCHAR"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,paymet_type,merchant_id,
        tracking_id,page_text_json,channel_page_url,
        create_by,create_time,update_by,
        update_time
    </sql>
</mapper>
